body {
	font-family:lato;
	background-color:white;
	line-height:1.6;
	color:rgb(31,0,68);
    font-size:16px;
	}

.navbar-inverse .navbar-nav > li > a {
	color:rgb(239, 231, 248); 
	}

.navbar-inverse .navbar-brand {
	color:rgb(239, 231, 248);
	}

.navbar-inverse {
	background:rgb(66,1,146); 
	}
	
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: rgb(31,0,68);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgb(31,0,68);
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.details {
	display: none;
	}

a:hover {
	text-decoration: none;
	}
	
.summary {
	background:rgb(243,247,255);
	border-radius:20px;
	border: 1px solid rgb(66,1,146);
	padding-left:15px;
	padding-top:4px;
	padding-right:15px;
	padding-bottom:4px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);

	}
	
.summary:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.details {
	/* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
	border-radius:20px; */
	padding:15px;
	margin-top:25px;
	margin-bottom:25px;
    background-color:rgb(243,247,255);
}

.infodump {
	/* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
	border-radius:20px; */
	padding:15px;
	margin-top:25px;
	margin-bottom:25px;
    background-color:rgb(243,247,255);
}

.tile {
	background:rgb(243,247,255);
	border-radius:10px;
	text-align:center;
	border: 1px solid rgb(66,1,146);
	padding-left:15px;
	padding-top:4px;
	padding-right:15px;
	padding-bottom:4px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
	margin-top:10px;
	margin-bottom:10px;
	}
	
.tile:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

img.social {
	max-width:9%;
	margin-right:9px;
	margin-bottom:2px;
}